.backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(48, 48, 48, 0.499);
  transition: opacity 300ms, visibility 300ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(-290deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  height: 550px;
  background-color: #fff;
  transition: transform 250ms;
  transform: translate(-50%, -50%) rotate(0);
}

.modal-render-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  width: 550px;
  height: 550px;
  padding: 40px 20px 30px 20px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.modal-button-close {
  z-index: 22;
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-button-close:hover {
  color: red;
}

.img-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal_img {
  display: block;
  width: 100px;
  height: 100px;
}

.modal__content {
  display: flex;
  flex-direction: column;
}

.pokemon-types-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.modal-general {
  display: flex;
  padding: 10px;
  border: 1px solid black;
}

.modal_pokemon-name {
  margin-bottom: 10px;
  text-align: center;
}

.modal_stats-box {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
}

.modal_stats-list {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.modal_stats-item {
  display: flex;
}

.modal_moves-box {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid black;
}

.modal_moves-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_damage-wrap {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: space-around;
}

.modal_damage-wrap > p {
  background-color: yellow;
  margin-right: 10px;
}
.modal_damage-wrap > p:last-child {
  margin-right: 0;
  background-color: green;
}
